apacheRewriteEngine On
RewriteBase /

# Remove .php extension
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME}.php -f
RewriteRule ^(.+?)/?$ $1.php [L]

# Redirect .php URLs to extensionless versions
RewriteCond %{THE_REQUEST} ^GET\ (.*)\.php(\?.*)?\ HTTP
RewriteRule (.*)\.php$ $1 [R=301,L]