/*Flipover Q and A on about page styles*/


body {
    font-family: Arial, Helvetica, sans-serif;
}

.flip-card {
    background-color: transparent;
    width: 300px;
    height: 300px;
    perspective: 1000px;
    font-family: Alkatra;
}

.flip-card-inner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.6s;
    transform-style: preserve-3d;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}

.flip-card:hover .flip-card-inner {
    transform: rotateY(180deg);
}

.flip-card-front, .flip-card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
}

.flip-card-front {
    background-color: teal;
    border-radius: 20px;
    color: black;
    font-size: 4em;
    font-weight: bold;
    font-style: italic;
    padding-top: 100px;
}

.flip-card-back {
    background-color: #2980b9;
    color: white;
    transform: rotateY(180deg);
    border-radius: 20px;
}
.whowhyhow{
    text-align: left;
    margin: 1vw;
}
