.contain{
    display: block;
    margin: auto;
    width: 30%;
    max-width: 30%;
    min-width: 30%;
    height: 80%;
    border: solid 2px #120A19;
    background-color: rgba(84, 41, 124, .9);
    box-shadow: 0 15px 25px rgba(0,0,0,.6);
    border-radius: 10px;
}

hr{
    width: 60%;
    border: 1px solid #120A19;
}
label{
    display: block;
    margin: auto;
    padding: 1vh;

}

input[type="text"],input[type="email"], input[type="number"] {
    display: block;
    margin: 2% auto;
    width: 85%;
    height: 4vh;
    max-height: 30px;
    border-radius: 5px;
    border: solid 2px #120A19;
    background-color: #DBD6DF;
}
input[type="submit"]{
    display:block;
    margin: 4% auto;
    width: 30%;
    height: 4vh;
    background-color: #120A19;
    color: whitesmoke;
    border-radius: 10px;
    cursor: pointer;
}

textarea{
    display: block;
    margin: 2% auto 0;
    width: 85%;
    height: 22vh;
    max-height: 165px;
    border-radius: 5px;
    border: solid 2px #120A19;
    background-color: #DBD6DF;
    font-family: sans-serif;
}

input:hover {
    transform: scale(1.05);
}
